{% extends "root/_incs/lay_root.htm" %}

{% block title %}{{ d.message }}{% endblock %}

{% block main %}

<div class="out">

<div class="block"><div class="in">
    <h2><span class="tg1">{root}</span>(根目录)</h2>
    <div>
        <p>
            <i class="r"><a href="/read">read</a></i>
            微爬(Wepy)简介：微爬(Wepy)是一款轻量、免费、共享的通用Python微框架；适用于CMS开发,爬虫开发！
        </p>
        <p>
            <i class="r"><a href="/info">info</a></i>
            系统信息
        </p>
        <p>
            <a href="/favicon.ico">favicon图标</a>
            &middot;
            <a href="/robots.txt">robots协议</a>
            &middot;
            <a href="/coder">源码查看器</a>
        </p>
        <p>
            <i class="r"><a href="/error">error</a></i>
            错误页：403禁止直接访问
        </p>
    </div>
</div></div>

<div class="block"><div class="in">
    <h2><span class="tg1">front</span>前端分组</h2>
    <div>
        <p><i class="r"><a href="/front/">home</a></i>首页:/front/</p>
        <p><i class="r"><a href="/front/cj">采集</a></i>专业采集某网站：类别（地区等），信息列表，信息详情，关联图片……(Mysql保存)</p>
        <p><i class="r"><a href="/front/pa">爬…</a></i>爬风景，爬美女，爬链接，专业爬…</p>
        <p><i class="r"><a href="/front/blog">blog</a></i>Sqlite博客</p>
    </div>
</div></div>

<div class="clear"></div>

<div class="block"><div class="in">
    <h2><span class="tg1">tests</span>测试分组</h2>
    <div>
        <p>
            <i class="r">docs</i>
            <a href="/tests/docs-dev?fp=doc-note.txt">项目计划/开发记录</a>
            &middot;
            <a href="/tests/docs-dev?fp=doc-link.txt">学习资料/参考链接</a>
        </p>
        <p>
            <i class="r">db</i>
            <a href="/tests/db-sqlite">sqlite</a>
            &middot;
            <a href="/tests/db-mysql">mysql</a>
            &middot;
            <a href="/tests/db-both">both</a>
            &middot;
            <a href="/tests/db-intpl">intpl</a>
        </p>
        <p>
            <i class="r">return</i>
            <a href="/tests/db-mysql?_vfmt=xml">xml</a>
            &middot;
            <a href="/tests/db-sqlite?_vfmt=json">json</a>
            &middot;
            <a href="/tests/db-sqlite?_vfmt=json&callback=abc">jsonp</a>
            &middot;
            <a href="/tests/docs-udir">dir:blog</a>
            &middot;
            <a href="/tests/docs-uerr">error</a>
        </p>
        <p>
            <i class="r">admin</i>
            后端测试分组，无实质功能：
            <a href="/admin/home-login">login</a>
            &middot;
            <a href="/admin/">admin</a>
        </p>
    </div>
</div></div>

<div class="block"><div class="in">
    <h2><span class="tg1">theory</span>理念/特色</h2>
    <div>
        <p>遵循MIT开原协议,共享于各种合法用途！</p>
        <p>所有爬取的图片文字等资源，版权属于目标网站或原版权所有者！</p>
        <p>基于Blueprint分组扩展，</p>
        <p>基于MKV的控制器/方法扩展。</p>
    </div>
</div></div>

</div><!--end.out-->

{% endblock %}
