
{% extends "root/_incs/lay_root.htm" %}

{% block title %}<title>简介 - {{ g.sys['title']}}</title>{% endblock %}

{% block head %}
    <h1>微爬(Wepy) 简介</h1>
    <p>基本介绍,环境需求,下载安装…</p>
{% endblock %}

{% block main %}

<div class="out">

<div class="in">
    <h2><span class="tg1">resume</span>简介</h2>
    <div>
        <p>
        微爬(Wepy,Wepthon)：是一款轻量、免费、共享的通用Python微框架；适用于CMS开发,爬虫开发！
        </p>
        <p>基于 Python, Flask/Blueprint/jinja, Mysql/Sqlite, PyQuery 等开源模块开发</p>
        <p>基于Blueprint分组扩展，基于MKV的控制器/方法扩展</p>
        <p>环境需求：Python3+, Flask(Jinja2,Werkzeug), Mysql/Sqlite, PyQuery</p>
        
    </div>
</div>

<div class="in">
    <h2><span class="tg1">down/setup</span>下载安装</h2>
    <div>
        <p>下载：<a href="https://github.com/peacexie/python">github.com</a> 
            或：<a href="http://txjia.com/peace/wepy.htm">官网介绍</a> </p>
        <p>配置/安装：见下</p>
    </div>
</div>

<div class="in">
    <h2><span class="tg1">markdown</span>ReadMe</h2>
    <div>{{ d.data.sread|d('(Empty/Error File)',true)|safe }}</div>
</div>

</div><!--end.out-->

{% endblock %}
