<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='robots' content='noindex, nofollow'>
<base target="_blank" />

<h1>
    {% block title %} {% endblock %} @ 微爬(Wepy)
    / {{ g.mkvs['key'] }} : {{ request.args.act }} 
</h1>
{% set res=d.data.res %}

<p id='jump'>.{{ d.data._end }}. 暂时中断,<span id='jsec'>3</span>秒后继续...</p>
<script>
var act='{{request.args.act}}', end='{{d.data._end}}';
var jump = document.getElementById('jump');
var jsec = document.getElementById('jsec');
function jumpUrl(){ location.href='?act={{request.args.act}}&page={{d.data._pend|d(0)}}'; } 
if((act=='done' || act=='save') && end=='1'){
    jump.innerHTML = '!!! 已完成 !!!'
}else if((act=='done' || act=='save')){
    setTimeout('jumpUrl()',3000);
}else{
    jump.style.display = 'none';
}
</script>

<hr>
{% block acts %} {% endblock %}
<hr>

<p><a href="?">Refresh</a></p>

end-flag: {{ d.data._end }} <br>
fids: {{ d.data._fids }} {{ d.data._pages }} <br>
