
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='robots' content='noindex, nofollow'>
<base target="_blank" />

<h1>fang.com采集 @ 图片/{{ g.mkvs['key'] }} : {{ request.args.act }}</h1>
{% set res=d.data.res %}

{% if request.args.act=='view' %}
    
    {% for row in res %}
    <li>
        <br>
        {% for key in row %}
            {{ key }} = {{ row[key] }}<br>
        {% endfor %}
    </li>
    {% endfor %}

{% else %}

    {% for fid in res %}
        <li><b>{{ fid }}</b><br>
            {% if fid in 'pcaids' %}
                {{ res[fid] }}
                <hr>
            {% else %}
                {% for itm in res[fid] %}
                    <b>{{ itm }}</b><br>
                    {% for key in res[fid][itm] %}
                        {{ key }} = {{ res[fid][itm][key] }}<br>
                    {% endfor %}
                    <hr>
                {% endfor %}
            {% endif %}
        </li>
    {% endfor %}

{% endif %}

<p><a href="?">Refresh</a></p>

end-flag: {{ d.data._end }} <br>
fids: {{ d.data._fids }} <br>

