
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='robots' content='noindex, nofollow'>
<base target="_blank" />

<h1>fang.com采集 @ 微爬(Wepy)</h1>

<nav>

<p>属性/area cj-attr ：
<a href="/tests/cj-attr?act=test">查看</a>，测试，执行
</p>
<p>地址/Url  cj-url  ： 
查看，测试，执行
</p>
<p>数据/data cj-data  ：
查看，测试，执行
</p>
<p>图片/img  cj-img  ： 
查看，测试，执行
</p>

</nav>

<p><a href="?">Refresh</a></p>
