{% extends "tests/cj/_lay.htm" %}
{% block title %} fang.com采集 {% endblock %}


{% block acts %}


<nav>

<p>属性/area cj-attr ：
<a href="/tests/cj-attr?act=view">查看</a>，
<a href="/tests/cj-attr?act=test">测试</a>，
<a href="/tests/cj-attr?act=done">执行</a>
</p>
<p>地址/Url  cj-url  ： 
<a href="/tests/cj-url?act=view">查看</a>，
<a href="/tests/cj-url?act=test">测试</a>，
<a href="/tests/cj-url?act=done">执行</a>
</p>
<p>数据/data cj-data  ：
<a href="/tests/cj-data?act=view">查看</a>，
<a href="/tests/cj-data?act=test">测试</a>，
<a href="/tests/cj-data?act=done">执行</a>
</p>
<p>图片/img  cj-img  ： 
<a href="/tests/cj-img?act=view">查看</a>，
<a href="/tests/cj-img?act=test">测试</a>，
<a href="/tests/cj-img?act=done">执行</a>，
<a href="/tests/cj-img?act=save">保存</a>
</p>

<p>--- 后期处理 ---------------</p>

<p>加水印-waterMark：
    测试 - 执行
</p>
<p>入库:楼盘+图片-insData：
    测试 - 执行
</p>

<p>--- Extra ---------------</p>

<p>Fix / xxx  ： 
<a href="/tests/cj-fxxx?act=view">查看</a>，
<a href="/tests/cj-fxxx?act=test">测试</a>，
<a href="/tests/cj-fxxx?act=done">执行</a>
</p>

</nav>


{% endblock %}
