
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='robots' content='noindex, nofollow'>
<base target="_blank" />

<h1>fang.com采集 @ 地址/{{ g.mkvs['key'] }} : {{ request.args.act }}</h1>
{% set res=d.data.res %}

{% if request.args.act in 'view,done' %}
    
    {% for row in res %}
    <li>{{ row }}</li>
    {% endfor %}

{% else %}

    {% for fid in res %}
        <li><b>{{ fid }}</b><br>
            {% for key in res[fid] %}
                {{ key }} = {{ res[fid][key]|safe }}<br>
            {% endfor %}
        </li>
    {% endfor %}

{% endif %}

<p><a href="?">Refresh</a></p>

end-flag: {{ d.data._end }} <br>
pages: {{ d.data._pages }} <br>