
{% extends "root/_incs/lay_info.htm" %}

{% block title %}Home - index{% endblock %}

{% block info %}
<h1>Hi, {{ d.data.name|d('Python Flask',true)|e }}!</h1>
<p>Home - index</p>

{% set dd={'aa':'bb', 'cc':'dd'} %}
<p>dd.aa = {{ dd.aa }}</p>

url = {{ '/' | url() }} <br>
url = {{ './' | url() }} <br>
url = {{ 'home-index' | url('a=b') }} <br>
url = {{ '/tests/home-index' | url('c=d') }} <br>
url = {{ 'home-index?afc=2' | url() }} <br>

{% set arcs=g.db.get("SELECT title,detail FROM {article} WHERE id>2 ORDER BY id DESC", (), 2) %}
<p>arcs.2 = {{ arcs }}</p>

<hr>

../front/home-index?afc=2
home-index?afc=2

<br />timer: 
{% print(g.time.time()-g.run['timer']) %}
<br>
{% print(g.time.time()-g.sys['init']) %}

{% endblock %}
