
{% extends "root/_incs/lay_info.htm" %}

{% block title %}Home - index{% endblock %}

{% block info %}
<h1>Hi, {{ d.data.name|default('Python Flask')|safe }}!</h1>
<p>Home - index</p>

{% set dd={'aa':'bb', 'cc':'dd'} %}
<p>dd.aa = {{ dd.aa }}</p>

url = {{ '/' | url() }} <br>
url = {{ './' | url() }} <br>
url = {{ 'home-index' | url('a=b') }} <br>
url = {{ '/tests/home-index' | url('c=d') }} <br>
url = {{ 'home-index?afc=2' | url() }} <br>

<hr>

../front/home-index?afc=2
home-index?afc=2

{% endblock %}
