{% from 'root/_incs/mac_base.htm' import mete,menu,head,foot %}
<!doctype html>
<html>
<head>
{{ mete(d) }}
{% block title %}
    <title>微爬(Wepy) v1.0 - Python微框架</title>
{% endblock %}
</head>
<body>

{{ menu(d) }}

<div class="head">
    {% block head %}
    <h1>微爬(Wepy) v1.0</h1>
    <p>Python微框架</p>
    {% endblock %}
</div>

{% block main %}
<div class="out">

{% set data=d['data'] %}
<div class="in">
    <h2><span class="tg1">run(data)</span>运行信息</h2>
    <div>
        <p>session = {{ session }}</p>
        <p>cookie = {{ cookie }}</p>
        <p>d = {{ d }}</p>
    </div>
</div>

<div class="in">
    <h2><span class="tg1">config(g)</span>配置信息</h2>
    <div>
        {% for itm in g %}
            <p>g.{{ itm }} = {{ g[itm] }}</p>
        {% endfor %}
    </div>
</div>

</div><!--end.out-->
{% endblock %}

{{ foot(d) }}

</body>
</html>
