{% from 'root/_incs/mac_base.htm' import mete,menu,head,foot %}
<!doctype html>
<html>
<head>
{{ mete(d) }}
{% block title %}
    <title>微爬(Wepy) v1.0 - Python微框架</title>
{% endblock %}
</head>
<body>

{{ menu(d) }}

<div class="head">
    {% block head %}
    <h1>微爬(Wepy) v1.0</h1>
    <p>Python微框架</p>
    {% endblock %}
</div>

{% block main %}
<div class="out">
<div class="in">
    {% for itm in g %}
    <h2><span class="tg1">({{ itm|count() }}) itmes</span>g.{{ itm }}</h2>
    <div>
        <p>
        {{ g[itm] }}
        </p> 
    </div>
    {% endfor %}
</div>
</div><!--end.out-->
{% endblock %}

{{ foot(d) }}

</body>
</html>
