
{% extends "root/_incs/lay_root.htm" %}

{% block title %}<title>前端分组 - front简介 - {{ g.sys['title']}}</title>{% endblock %}

{% block head %}
    <h1>blog-首页</h1>
    <p>Sqlite博客 --- 开发中...</p>
{% endblock %}

{% block main %}

<div class="out">

<div class="in">
    <h2><span class="tg1">joke</span>-搞笑</h2>
    <div>
        <p>xxx</p>
        <p>xxx</p>
        <p>xxx</p>
    </div>
</div>

<div class="in">
    <h2><span class="tg1">study</span>*学习</h2>
    <div>
        <p>xxx</p>
        <p>xxx</p>
        <p>xxx</p>
    </div>
</div>

</div><!--end.out-->

{% endblock %}
