{% extends "root/_incs/lay_root.htm" %}

{% block title %}
<title>微爬(fang.com)采集 - {{ g.sys['title']}}</title>
<meta name='robots' content='noindex, nofollow'>
{% endblock %}

{% block head %}
    <h1>自定义 - DIY爬</h1>
    <p> 自定义采集页面元素，我怎么感觉在用JQ？对，这里用PyQuery！</p>
{% endblock %}

{% block main %}

<div class="out">

<div class="in">
    <h2><span class="tg1"><a href="./pa">返回</a></span>采集配置</h2>
    <div>
        <p class="tc">
        <a href="?url=http://news.baidu.com/">news.baidu.com</a> - 
        <a href="?url=http://dg.fzg360.com/">dg.fzg360.com</a> - 
        <a href="?url=http://www.08cms.com/">www.08cms.com</a> - 
        <a href="?url=http://txmao.txjia.com/dev.php">txmao.txjia.com</a>
        </p>
        <p>URL地址 ： 
        <a href="{{ d.data.url }}" target="_blank">{{ d.data.url }}</a>
        </p>
        <p>
            <form name="fms1" method="get" action="?">
                <input type="text" name="url" value="{{ d.data.url }}" placeholder="url" style="width:99%">
                <br>
                <input type="text" name="s1st" value="{{ d.data.s1st }}" placeholder="主选择器,如: div" style="width:20%">
                <input type="text" name="s2nd" value="{{ d.data.s2nd }}" placeholder="子选择器,如: a" style="width:20%">
                <input type="text" name="satt" value="{{ d.data.satt }}" placeholder="属性,如: html(),text(),href,title,width" style="width:20%">
                <input type="submit" name="submit" id="button" value="爬爬" style="width:60px">
            </form>
        </p>
    </div>
</div>

{% for key in d.data.res %}
<div class="in">
    <h2><span class="tg1">{{ d.data.res[key]|count() }}</span>{{ key }}</h2>
    <div>
        <p>
        {% for itm in d.data.res[key] %}
        {{ itm|safe }}, 
        {% endfor %}
        </p>
    </div>
</div>
{% endfor %}

</div><!--end.out-->

{% endblock %}
