
{% extends "root/_incs/lay_root.htm" %}

{% block title %}<title>无控制器，调用Mysql资料 - {{ g.sys['title']}}</title>{% endblock %}

{% block head %}
    <h1>Mysql新闻资料 - 微爬(Wepy)</h1>
    <p>演示-无控制器，模板直接调用Mysql新闻资料</p>
{% endblock %}

{% block main %}

<div class="out">

{% set sql = "SELECT * FROM {docs_news}" %}
{% set news = g.db.get(sql, (), 3) %}

<div class="in">
    <h2><span class="tg1">news</span>Mysql新闻资料</h2>
    <div>
    {% for itm in news %}
    <p>
        {% for field in itm %}    
        [{{ field }}] = {{ itm[field] }} <br>
        {% endfor %}
    </p>
    {% endfor %}
    </div>
</div>

</div><!--end.out-->

{% endblock %}
