
{% extends "root/_incs/lay_root.htm" %}

{% block title %}<title>Sqlite博客资料 - {{ g.sys['title']}}</title>{% endblock %}

{% block head %}
    <h1>Sqlite博客资料 - 微爬(Wepy)</h1>
    <p>演示-从控制器调用Sqlite资料,模板显示</p>
{% endblock %}

{% block main %}

<div class="out">

<div class="in">
    <h2><span class="tg1">catalog</span>Sqlite博客栏目</h2>
    <div>
    {% for itm in d.data.catalog %}
        {{ itm }} <br>
    {% endfor %}
    </div>
</div>

<div class="in">
    <h2><span class="tg1">blog</span>Sqlite博客资料</h2>
    <div>
    {% for itm in d.data.blog %}
    <p>
        {% for field in itm %}    
        [{{ field }}] = {{ itm[field] }} <br>
        {% endfor %}
    </p>
    {% endfor %}
    </div>
</div>

</div><!--end.out-->

{% endblock %}
