

{% macro input(name, value='', type='text', size=20) -%}
    <input 
        type="{{ type }}" 
        name="{{ name }}" 
        value="{{ value|e }}" 
        size="{{ size }}"
    />
{% endmacro %}


{% macro head(muid='home') %}
    <ul>
        <li>{{ muid }}</li>
        <li>Home</li>
        <li>News</li>
        <li>Product</li>
        <li>About</li>
    </ul>    
{% endmacro %}


{% macro foot(d) %}
    <p>/root/home/lay_info.htm - {{ d.tpath }}/{{ d.tpname }}</p>
    <p>foot : About - Service - Contact - (end)</p> 
{% endmacro %}
