
{% extends "root/_incs/lay_root.htm" %}

{% block title %}<title>Sqlite博客 - {{ g.sys['title']}}</title>{% endblock %}

{% block head %}
    <h1>blog-首页</h1>
    <p>
        Sqlite博客 --- 
        {% if g.ses['logged'] %}
        <a href="./blog-lists">管理</a> - 
        <a href="./blog-login?act=out&_r={{g.run.timer}}">登出</a> 
        {% else %}
        <a href="./blog-login">登陆</a> 
        {% endif %}
    </p>
{% endblock %}

{% block main %}

<div class="out">

<div class="in">
    <h2><span class="tg1">catalog</span>(栏目)</h2>
    <div class="tc">
        <a href="./blog">[All]</a> 
        {% for itm in d.data.catalog %}
        - <a href="./blog-{{ itm['kid'] }}">{{ itm['title'] }}</a> 
        {% endfor %}
    </div>
</div>

{% for part in d.data.parts %}
<div class="in">
    <h2><span class="tg1">{{ part }}</span>{{ d.data.cdic[part] }}</h2>
    <div>
        {% for itm in d.data.parts[part] %}
        <p>
            <i class="r">{{ itm['id'] }}</i>
            <b><a href="./blog.{{itm['id']}}">{{ itm['title'] }}</a></b> 
            <br> <span class="c999">{{ itm['detail'] }}</span>
        </p>
        {% endfor %}
    </div>
</div>
{% endfor %}

</div><!--end.out-->

{% endblock %}
