
{% extends "root/_incs/lay_root.htm" %}

{% block title %}<title>博客管理 - {{ g.sys['title']}}</title>{% endblock %}

{% block head %}
    <h1>博客管理</h1>
    <p> --- 登出</p>
{% endblock %}

{% block main %}

<div class="out">

<div class="in">
    <h2><span class="tg1">catalog</span>(栏目)</h2>
    <div class="tc">
        <a href="./blog">[Blog]</a> 
        {% for itm in d.data.catalog %}
        - <a href="./blog?cid={{ itm['kid'] }}">{{ itm['title'] }}</a> 
        {% endfor %}
    </div>
</div>

<div class="in">
    <h2><span class="tg1">lists</span>Adminer</h2>
    <div>
        {% for itm in d.data.blog %}
        <p>
            <i class="r"><a href="./blog-lists?act=del&id={{ itm['id'] }}"></a></i>
            <b>{{ itm['title'] }}</b> <br> <span class="c999">{{ itm['detail'] }}</span>
        </p>
        {% endfor %}
    </div>
</div>

<p class="tc cF00">欠揍！这个blog分页还没有做好！</p>

</div><!--end.out-->

{% endblock %}
