
{% extends "root/_incs/lay_root.htm" %}

{% block title %}<title>博客登录 - {{ g.sys['title']}}</title>{% endblock %}

{% block head %}
    <h1>博客登录</h1>
    <p>Sqlite博客 --- 登陆 - 管理 - 登出</p>
{% endblock %}

{% block main %}

<div class="out">

<form name="fms1" method="post" action="?">
<div class="in">
    <h2><span class="tg1">login</span>登陆</h2>
    <div>
        <p>Message : <span class="cF00">{{ d.data.msg }}</span></p>
        <p>账号: <input type="text" name="user" style="width:50%"> peace</p>
        <p>密码: <input type="text" name="pass" style="width:50%"> 123456</p>
        <p class="tc"><input type="submit" name="submit" id="button" value="登陆"></p>
    </div>
</div>
</form>

{{ d.data }}

</div><!--end.out-->

{% endblock %}
