{% extends "front/cj/_lay.htm" %}
{% block title %} 数据 {% endblock %}


{% block acts %}


{% if request.args.act=='view' %}

    {% for row in res %}
        {% for key in row %}
            <li>【{{ key }}】 = {{ row[key]|safe }}<br></li>
        {% endfor %}
        <hr>
    {% endfor %}

{% else %}

    {% for fid in res %}
        <li><b>{{ fid }}</b><br>
            {% for key in res[fid] %}
                【{{ key }}】 = {{ res[fid][key]|safe }}<br>
            {% endfor %}
        </li>
        <hr>
    {% endfor %}

{% endif %}


{% endblock %}
