<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="PythonIIS1" path="*.py" verb="*" modules="CgiModule" scriptProcessor="E:\Peace\server\Python35-32\python.exe %s %s" resourceType="Unspecified" requireAccess="Execute" />
        </handlers>
    </system.webServer>
</configuration>
