{% extends "root/_incs/lay_root.htm" %}

{% block title %}<title>随机数应用 - 图表</title>{% endblock %}
{% block head %}
    <h1>随机数应用</h1>
    <p>
        <a href="./rand">字符</a>
        #
        <a href="./rand-puke">扑克</a>
        #
        <a href="./rand-data">数据</a>
        #
        <a href="./rand-chart">图表</a>
    </p>
{% endblock %}

{% block main %}
<script src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
<style>
input{ width:60px; }
.w40{ width:40px; }
.w60{ width:60px; }
canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
</style>

<div class="out">

<form id="sofm" name="sofm" method="get" action="?">
<table width="100%" border="1" class="tblist">
  <tr class="tc">
    <td colspan="2">
        <select name="type" val='{{d.data.argv.tp}}'>
            <option value="0">纯数字</option>
            <option value="A">大写字母</option>
            <option value="a">小写字母</option>
            <option value="Aa">大小字母混合</option>
            <option value="0A">(大写)数字混合</option>
            <option value="0a">(小写)数字混合</option>
            <option value="0F">(大写)16进制</option>
            <option value="0f">(小写)16进制</option>
        </select>
    </td>
  </tr> 
  <tr class="tc">
    <td>
        每行:<input name="rn" data-maxlength="24" value="{{d.data.argv.rn}}">
    </td>
    <td>
        共:<input name="all" data-maxlength="6" value="{{d.data.argv.ax}}">个
    </td>
  </tr> 
  <tr class="tc">
    <td>
        每列:<input name="cm" data-maxlength="24" value="{{d.data.argv.cm}}">
    </td>
    <td><input type="submit" value="生成" class="w60"></td>
  </tr> 
</table>
</form>

<table width="100%" border="1" class="tblist">
    {% for k1 in d.data.tabs %}
    <tr>
        {% for k2 in d.data.tabs[k1] %}
            <td>{{ d.data.tabs[k1][k2] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

</div><!--end.out-->

<script>

</script>

{% endblock %}

