{% extends "root/_incs/lay_rand.htm" %}

{% block title %}<title>随机数应用 - 图表</title>{% endblock %}

{% block main %}

<style>

</style>

<div class="out">

<form id="sofm" name="sofm" method="get" action="?">
<table width="100%" border="1" class="tbform">
  <tr>
    <td>
        每行<input name="rn" data-maxlength="24" value="{{d.data.argv.rn}}">个
    </td>
    <td><input type="submit" value="生成" class="w60"></td>
  </tr> 

</table>
</form>

<table width="100%" border="1" class="tbcont">
    {% for k1 in d.data.tabs %}
    <tr>
        {% for k2 in d.data.tabs[k1] %}
            {% set card = d.data.tabs[k1][k2][0] %}
            <td>
                <b class="{% if card[0:1] in '♥♦' %}cF0F{% endif %}">{{ card }}</b>
                <p>
                    {{k1}}:{{k2}}
                </p>
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

</div><!--end.out-->

<script>
window.onload=function(){
    //setDev('type');
}
</script>

{% endblock %}

