<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
        <add name="f" path="f" verb="*" modules="FastCgiModule" resourceType="File"
            scriptProcessor="E:\Peace\server\Python35-32\python.exe|E:\Peace\server\Python35-32\Lib\site-packages\wfastcgi.py" />
        <add name="car" path="car" verb="*" modules="FastCgiModule" resourceType="File"
            scriptProcessor="E:\Peace\server\Python35-32\python.exe|E:\Peace\server\Python35-32\Lib\site-packages\wfastcgi.py" />
        <!-- scriptProcessor 的值来自命令行工具 wfastcgi-enable -->
        <add name="_FlaskFastCGI" path="*" verb="*" modules="FastCgiModule" resourceType="Unspecified" requireAccess="Script"
            scriptProcessor="E:\Peace\server\Python35-32\python.exe|E:\Peace\server\Python35-32\Lib\site-packages\wfastcgi.py" />
    </handlers>
    <security> 
        <!-- URL 重写中的特殊字符，比如加号+等等 -->
        <requestFiltering allowDoubleEscaping="true"></requestFiltering> 
    </security> 
</system.webServer>

<appSettings>
    <!-- Required settings -->
    <!-- 在这里指定Falsk app在模块中的具体位置,我的主程序项目文件名叫manager.py，app是实例化的Flask应用 -->
    <!--因此值为manager.app -->
    <add key="WSGI_HANDLER" value="web.app" />   
    <add key="PYTHONPATH" value="~/" />
    <!-- Optional settings -->
    <!-- 需要先创建日志目录，否则报错 -->
    <add key="WSGI_LOG" value="E:\\Peace\\webs\\peace\\python\\trunk\\_cache\\debug\\web.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value="" />
</appSettings>
</configuration>