{% extends "front/cj/_lay.htm" %}
{% block title %} 图片 {% endblock %}


{% block acts %}


{% if request.args.act=='save' %}

    {% for key in res %}
        {{ key }} = {{ res[key] }}<br>
    {% endfor %}

{% elif request.args.act=='view' %}
    
    {% for row in res %}
    <li>
        <br>
        {% for key in row %}
            {{ key }} = {{ row[key] }}<br>
        {% endfor %}
    </li>
    {% endfor %}

{% else %}

    {% for fid in res %}
        <li><b>{{ fid }}</b><br>
            {% if fid in 'pcaids' %}
                {{ res[fid] }}
                <hr>
            {% else %}
                {% for itm in res[fid] %}
                    <b>{{ itm }}</b><br>
                    {% for key in res[fid][itm] %}
                        {{ key }} = {{ res[fid][itm][key] }}<br>
                    {% endfor %}
                    <hr>
                {% endfor %}
            {% endif %}
        </li>
    {% endfor %}

{% endif %}


{% endblock %}
